-r requirements.txt
attrs==25.4.0
build==1.2.2.post1
certifi==2025.1.31
colorama==0.4.6
flake8==7.3.0
iniconfig==2.1.0
mccabe==0.7.0
mypy==1.15.0
mypy-extensions==1.0.0
packaging==24.2
pluggy==1.5.0
pycodestyle==2.14.0
pyflakes==3.4.0
pytest==8.3.5
typing_extensions==4.12.2
