-r requirements.txt
attrs==23.2.0
build==1.1.1
certifi==2024.2.2
colorama==0.4.6
flake8==7.0.0
iniconfig==2.0.0
mccabe==0.7.0
mypy==1.9.0
mypy-extensions==1.0.0
packaging==24.0
pluggy==1.4.0
pycodestyle==2.11.1
pyflakes==3.2.0
pytest==8.1.1
typing_extensions==4.12.0
